.wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}


.catalog__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 20px;
}